## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%! from r2.lib.template_helpers import static %>
<%! import uuid %>

<%namespace file="utils.html" import="error_field"/>
<%namespace name="utils" file="utils.html"/>

##${captchagen(thing.iden, thing.error)}

${rounded_captcha()}

<%def name="captcha_basics(id)">

    <div id="sm_widget_area-${id}">
        <div id="sm_widget-${id}"></div>
        <input type="hidden" name="puzzle_id" id="puzzle_id-${id}" value="${id}"/>
    </div>
</%def>

<%def name="rounded_captcha()">
<%utils:round_field title="${_('are you human?')}" description="${_('(sorry)')}" css_class="captcha">
    <% id = uuid.uuid4().hex %>
    ${captcha_basics(id)}
    ${error_field("BAD_CAPTCHA", "adcopy_response")}
  </%utils:round_field>
</%def>

<%def name="captchagen(iden='', error='', tabulate=False, tabular = True, size=60, label=True, show_error = True, label_on_side = False)">
%if tabulate:
<table>
%endif
  %if tabular:
  <tr>
    %if label_on_side:
      <th>
    %endif
    %if label:
      <label for="adcopy_response">${_("are you human?")}</label>
    %endif
    %if label_on_side:
      </th>
    %endif
    <td>
  %endif
    <% id = uuid.uuid4().hex %>
    ${captcha_basics(id)}
  %if tabular:
  </td>
  </tr>
  <tr>
  %else:
     <span class="cap-reply">
  %endif
     %if tabular:
     <td>
     %else:
     </span>
     %endif
     %if show_error:
       ${error_field("BAD_CAPTCHA", "adcopy_response")}
     %endif
  %if tabular:
    </td>
  </tr>
  %endif
%if tabulate:
</table>
%endif
</%def>

